*
{
    padding: 0;
    margin: 0;
}

.header
{
    width: 100%;
    background-color: #7F56F5;
    

}

#item-center
{
    width: 1349px;
    margin: 0 auto;
}

.logo
{
    width: 35%;
    float: left;
    padding-top: 20px;
    margin-left: 15%;
}

.logo img 
{
    max-width: 100%;
}

.menu
{
    width: 35%;
    float: right;
    margin-right: 15%;
}

.menu ul {
    list-style: none;
    text-align: right;
}


.menu ul li 
{
    display: inline-block;
    padding: 25px 10px;
}
.menu ul li a 
{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color:#fff;
}

.menu ul li a:hover 
{
    color: rgb(0, 0, 0);
}

.header-bottom
{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.header-bottom h1 
{
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
}
.header-bottom p 
{
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 80px;
}


.main-content
{
    width: 100%;
    margin: 0 auto;
}


.liner
{
    width: 100%;
    overflow: hidden;
}

.content-left
{
    width: 33%;
    float: left;
    margin-left: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 2%;
}
.content-left img 
{
    max-width: 100%;

}

.content-left h1
{
    font-size: 30px;
    text-align: left;
}

.content-left p 
{
    font-size: 19px;
    padding-top: 5px;
}

.content-right
{
    width: 33%;
    float: left;
    margin-right: 15%;
    margin-left: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-right img
{
    max-width: 100%;
}

.content-left-02
{
    width: 33%;
    float: left;
    margin-left: 15%;
    margin-right: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-left-02 img 
{
    max-width: 100%;

}

.content-right-02
{
    width: 33%;
    float: left;
    margin-right: 15%;
    margin-left: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.content-right-02 h1
{
    font-size: 30px;
    text-align: left;
}

.content-right-02 p 
{
    font-size: 19px;
    padding-top: 5px;
}

.content-left-03
{
    width: 33%;
    float: left;
    margin-left: 15%;
    margin-right: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-left-03 img 
{
    max-width: 100%;
}

.content-left-03 h1
{
    font-size: 30px;
    text-align: left;
}

.content-left-03 p 
{
    font-size: 19px;
    padding-top: 5px;
}

.content-right-03
{
    width: 33%;
    float: left;
    margin-right: 15%;
    margin-left: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-right-03 img
{
    max-width: 100%;
}

.content-left-04
{
    width: 33%;
    float: left;
    margin-left: 15%;
    margin-right: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-left-04 img 
{
    max-width: 100%;

}

.content-right-04
{
    width: 33%;
    float: left;
    margin-right: 15%;
    margin-left: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.content-right-04 h1
{
    font-size: 30px;
    text-align: left;
}

.content-right-04 p 
{
    font-size: 19px;
    padding-top: 5px;
}

.content-right-04 button 
{
    padding: 10px;
    color: #fff;
    background-color: #7F56F5;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.content-right-04 button:hover
{
    transform: scale(1.05);
}

.content-left-05
{
    width: 33%;
    float: left;
    margin-left: 15%;
    margin-right: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-left-05 img 
{
    max-width: 100%;
}

.content-left-05 h1
{
    font-size: 30px;
    text-align: left;
}

.content-left-05 p 
{
    font-size: 19px;
    padding-top: 5px;
}

.content-right-05
{
    width: 33%;
    float: left;
    margin-right: 15%;
    margin-left: 2%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-right-05 img
{
    max-width: 100%;
}

.footer-area
{
    width: 100%;
    background-color: #7f56f51f;
}

.footer-top
{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.footer-item-01
{
    width: 20%;
    float: left;
    padding-left: 5%;

}

.footer-item-01 img
{
    padding-top: 50px;
    max-width: 100%;
}

.footer-item-01 p
{
    padding-top: 5px;
    font-size: 18px;
}

.footer-item-02
{
    width: 20%;
    float: left;
    padding-left: 5%;

}

.footer-item-02 h3
{
    color: #000;
    padding-top: 40px;
}

.footer-item-02 ul
{
    list-style: none;
    padding-left: 5px;
    padding-top: 5px;
}

.footer-item-02 ul li
{
    padding-top: 10px;
}


.footer-item-02 ul li a
{
    text-decoration: none;
    color: #000;
    font-size: 19px;
    
}

.footer-item-03
{
    width: 20%;
    float: left;
    padding-left: 5%;

}

.footer-item-03 h3
{
    color: #000;
    padding-top: 40px;
}

.footer-item-03 ul
{
    list-style: none;
    padding-left: 5px;
    padding-top: 5px;
}

.footer-item-03 ul li
{
    padding-top: 10px;
}


.footer-item-03 ul li a
{
    text-decoration: none;
    color: #000;
    font-size: 19px;
    
}

.footer-item-04
{
    width: 20%;
    float: left;
    padding-left: 5%;

}

.footer-item-04 h3
{
    color: #000;
    padding-top: 40px;
}

.footer-item-04 ul
{
    list-style: none;
    padding-left: 5px;
    padding-top: 5px;
}

.footer-item-04 ul li
{
    padding-top: 10px;
}


.footer-item-04 ul li a
{
    text-decoration: none;
    color: #000;
    font-size: 19px;
    
}

.footer-bottom
{
    width: 80%;
    margin: 0 auto;
}
.footer-bottom img
{
    max-width: 100%;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}